<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of People</title>
    <style>
        td {
            border: 2px solid lightgray;
        }
    </style>
</head>
<body>
    <table>
        <tr th:each="p : ${persons}">
            <td th:text="${p.id}"/>
            <td th:text="${p.firstname}"/>
            <td th:text="${p.surname}"/>
            <td><a th:href="@{/edit/{id}(id=${p.id})}">Edit</a></td>
        </tr>
    </table>
    <a href="/edit">Add new person</a>
</body>
</html>